<main class="main">
  <div><h2>Angular 17</h2></div>
  <button class="btn btn-primary">Primary</button>
  <br />
  <p>Your message is {{ msg }}</p>
  <br />
  <input type="text" #txtdata (keyup)="onChange(txtdata.value)" />
  <table class="table">
    <thead>
      <th>Fruit Name</th>
      <th>Fruit Price</th>
    </thead>
    <tbody *ngFor="let item of fruits">
      <tr *ngIf="item.price > 30">
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
      </tr>
    </tbody>
  </table>
</main>
